<div class="container mt-3">
  <div class="row">
    <div class="col-7 m-auto bg-body-secondary pt-2 ">
      <form>
        <div class="mb-3">
          <label for="enrolment" class="form-label">Enrolment</label>
          <input 
            type="text" 
            class="form-control" 
            id="enrolment"
            name="enrolment" 
          />
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input 
            type="text" 
            class="form-control" 
            id="name"
            name="name" 
          />
        </div>
        <div class="mb-3">
          <label for="course" class="form-label">Course</label>
          <input 
            type="text" 
            class="form-control" 
            id="course"
            name="course" 
          />
        </div>
        <button type="submit" class="btn btn-primary mb-3 ">Submit</button>
      </form>
    </div>
  </div>
</div>

